@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Itim&family=Kablammo&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

header {
    min-width: 100%;
    background-color: rgb(238, 73, 87);
    display: grid;
    grid-template-columns: 10% 20% 70%;
    grid-template-rows: 100%;
    height: 22vh;
}

nav {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

.logo {
    margin-top: 20px;
    margin-left: 20px;
    max-width: 100px;
    border-radius: 30px;

}

header h1 {
    margin-top: 20px;
    margin-left: 10%;
    font-size: 50px;
    font-family: "Kablammo", system-ui;
}

.tituloo:hover {
    color: black;
}

ul li {
    display: inline-block;
    padding: 0px 25px;
    margin-bottom: 1%;
    background-color: white;
    border-radius: 30% 10%;
    font-family: "Itim", cursive;
}

ul li:hover {
    box-shadow: 0px 0px 40px rgb(245, 75, 89);
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: rgb(245, 75, 89);
}

.dosPartes {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
}

.catalogos {
    font-size: 25px;
    margin-top: 0%;
}

.fa-solid.fa-cart-shopping {
    margin-left: 80%;
    font-size: 60px;
    color: rgba(10, 10, 10, 0.479);
    position: fixed;
    top: 10px;
    left: 170px;
}

.fa-solid.fa-cart-shopping:hover {
    color: black;
}

/* MAIN----*/
main {
    margin: 0%;
    padding: 0%;
    min-width: 100%;
}

.divCarrito {
    height: 40vh;
}

main h1 {
    margin-top: 5%;
    margin-left: 40%;
    font-family: "Itim", cursive;
}

h2 {
    margin-top: 2%;
    margin-left: 40%;

}

/*index*/
.relleno {
    margin-top: 2%;
    margin-left: 10%;

}


/**/

.Libros {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    margin-top: 5%;
    margin-left: 10%;
}

.LibrosIndex {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    margin-top: 5%;
    margin-left: 10%;
}

.libro {
    margin: 5%;
}

.libroIndex {
    margin: 5%;
}

.masInfo {
    min-width: 820px;
    margin-left: 10%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: 100%;
}

.i1 {
    background-color: rgba(142, 204, 142, 0.082);
    padding: 20px;
}

.fa-solid.fa-truck-arrow-right {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 40px;
}

.i2 {
    background-color: rgba(209, 170, 170, 0.103);
    padding: 20px;
}

.i3 {
    background-color: rgba(174, 171, 218, 0.089);
    padding: 20px;
}

.fa-solid.fa-envelope {
    margin-top: 10%;
    font-size: 20px;
}

/* */
.presen {
    width: 700px;
    margin: 20px auto;
    font-size: 21px;
}

button {
    margin: 10px;
    margin-left: 30px;
    margin-bottom: 0%;
    background-color: rgb(202, 179, 228);
    border: double rgb(209, 170, 170);

}

/* suscricion*/
.mainSuscr {
    background-color: white;

}

.suscricion {
    width: 1100px;
    height: 400px;
    margin: 40px auto;
    margin-bottom: 2%;
    background-color: rgba(243, 206, 209, 0.822);
    border-radius: 20px;
}


.h1Sus {
    margin: 0;
    padding-top: 2%;
    margin-bottom: 2%;
    color: rgb(245, 75, 89);
    text-align: center;
}

.form {
    margin-top: 3%;
    text-align: center;
    font-size: 1.2rem;
}

#nombre {
    border: dashed rgb(142, 204, 142);
}

#nombre:hover {
    border: double rgb(142, 204, 142);
}

#apellido {
    border: dashed rgb(209, 170, 170);
}

#apellido:hover {
    border: double rgb(209, 170, 170);
}

#email {
    border: dashed rgb(174, 171, 218);
}

#email:hover {
    border: double rgb(174, 171, 218);
}


/* Quienes somos*/
.somosParrafo {
    width: 100%;
}

.quinesSomos {
    width: 700px;
    margin: 25px auto;
    font-size: 20px;
}

.logoSegundo {
    width: 300px;
    margin: 0% auto;
}

.logoEd {
    width: 200px;
    border-radius: 20px 20px 0 0;
}

/* PIE ----*/
footer {
    min-width: 100%;
    background-color: rgb(238, 73, 87);
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 100%;
}

.copy {
    margin-top: 25px;
    margin-left: 30px;
}

.redes {
    margin-top: 10px;
    font-size: 1.5rem;
}

.qsomos {
    margin-top: 10%;
    font-size: 20px;

}

.somos:hover {
    color: white;
    box-shadow: 0px 0px 40px gray;
}

@media screen and (max-width: 768px) {

    /* header */
    header {
        height: 13vh;
        grid-template-columns: 20% 80%;
        grid-template-rows: 40% 60%;
        grid-template-areas: "LoGo Titulo"
            "dosPartes  dosPartes"
        ;
        position: sticky;
        top: 0;
        z-index: 1000;
    }


    .LoGo {
        grid-area: LoGo;
        margin-top: 0px;
        margin-left: 20px;
    }

    .logo {
        margin: 0%;
        width: 50px;
    }

    .Titulo {
        grid-area: Titulo;
        margin-top: 7%;
    }

    .dosPartes {
        grid-area: dosPartes;
    }

    header h1 {
        margin-top: 10px;
        margin-left: 4%;
        font-size: 23px;

    }

    .dosPartes {
        grid-template-columns: 100% 0%;
        grid-template-rows: 50%;
        grid-template-areas: "ctlogos carrito"
        ;
    }

    .ctlogos {
        grid-area: ctlogos;
    }

    nav {
        padding-left: 3%;
        padding-right: 0%;
    }

    ul li {
        padding: 0px 9px;
        margin-bottom: 0%;
        background-color: rgb(238, 73, 87);
    }

    .catalogos {
        font-size: 12px;
        margin-top: 5%;
    }

    .carrito {
        grid-area: carrito;
    }

    .fa-solid.fa-cart-shopping {
        position: absolute;
        margin-left: 27%;
        margin-top: 1.5%;

    }

    /*MAin */

    /*index */
    main h1 {
        width: 50%;
        font-size: 20px;
        margin-left: 27%;
    }

    .relleno {
        margin-top: 0%;
        width: 80%;
        margin-left: 10%;
    }

    .Libros {
        grid-template-columns: repeat(2, 185px);
        margin-left: 4%;
    }

    .LibrosIndex {
        grid-template-columns: repeat(4, 85px);
        margin: 5%;
    }

    .libroIndex {
        margin: 3%;
        margin-left: 30%;
    }

    .libro {
        width: 150px;
        margin: 5%;
        border-radius: 12px;
        background-color: rgba(235, 176, 235, 0.021);
    }


    img {
        width: 100px;
        margin-left: 15%;
        padding-top: 10%;
    }

    .imgIndex {
        width: 50px;
    }

    h2 {
        margin-left: 30%;
        font-size: 16px;
    }

    h3 {
        margin-top: 5%;
        margin-left: 20%;
        font-size: 10px;

    }

    p {
        margin-left: 32%;
    }

    button {
        margin-left: 22%;
        width: 100px;
        padding: 1.5%;
        border-radius: 8px;
        background-color: rgba(137, 43, 226, 0.164);
    }

    .masInfo {
        margin-top: 25px;
        min-width: 80%;
        height: 450px;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 0%;
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 30%;
        text-align: center;

        h3 {
            margin-left: 0%;
        }

        p {
            margin-left: 0%;
        }
    }



    .fa-solid.fa-truck-arrow-right {
        margin-top: 5%;
        margin-left: 7%;
    }

    .fa-solid.fa-envelope {
        margin-top: 7%;
    }

    .pInfo {
        margin-left: 0%;
    }


    .presen {
        width: 70%;
        margin: 20px auto;
        font-size: 15px;
    }

    .suscricion {
        width: 100%;
        margin: 5% auto;
        background-color: white;
    }

    .h1Sus {
        margin-left: 25%;
    }

    .form {
        margin-top: 10%;
        font-size: 1rem;
    }

    .somosParrafo {
        margin-top: 10%;
    }

    .quinesSomos {
        width: 80%;
        margin: 15px auto;
    }

    /* footer*/

    footer {
        background-color: rgba(238, 73, 87, 0.116);
        height: 30vh;
        grid-template-columns: 100%;
        grid-template-rows: 30% 40% 30%;
        grid-template-areas: "qsomos"
            "redes"
            "copy";
    }

    .copy {
        grid-area: copy;
        text-align: center;
        margin-top: 0%;
    }

    .redes {
        grid-area: redes;
        text-align: center;
        margin-top: 0%;
    }

    .qsomos {
        grid-area: qsomos;
        text-align: center;
        margin-top: 3%;

    }

    .todosLosD {
        margin: 0%;
    }


}